@import '../../../styles/vars';
@import '../../../styles/mixins';

.alert {
  padding: 10px;
  border-radius: $borderRadiusSmall;

  &.red {
    background: #ffd1d1;
    color: #631717;
  }

  &.green {
    background: #d7ffd7;
    color: #2b6d2b;
  }
}
